---
layout: default
---

<div class="box">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: "%-d %B, %Y. It was a %A." }} <a style="color:grey" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a></span><hr/>

    <span class="markdown-body">{{ content }}</span>
</div>

<div id="gitalk-container"></div>

<!--<div class="box">-->
    <!-- google ads code box -->
<!--</div>-->

{% include JB/comments %}

<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<script type="text/javascript">
    var gitalk = new Gitalk({
      clientID: '61c892e530987a9f19e1',
      clientSecret: 'd8797598362fc38e7c3f022e04f843e6339a04cc',
      repo: 'ddbXj.github.io',
      owner: 'ddbXJ',
      admin: ['ddbXJ'],
    })

    gitalk.render('gitalk-container')
</script>